/* Styling for all the icons in the top navagation bar */
.icon{
    width:50px; 
    height:50px;
}

/* Styling for the top navagation bar */
.icon-bar {
    background-color:rgb(142, 197, 191);
    width:100%;
    overflow:auto;
}

.icon-bar a {
    float:left;
    width:16.66%;
    text-align:center;
    padding-top:10px;
    padding-bottom:10px;
}

.icon-bar a:hover {
    background-color:rgb(237, 243, 241);
}

/* Styling used for all the buttons in the interest, about cloud and ebus files */

.button{
    display: inline-block;
    font-size:20px;
    padding:15px;
    border-radius:6px;
    text-decoration:none;
}

#button1{
    color:black;
    background-color:rgb(237, 243, 241);
}

#button2{
    color:white; 
    background-color:rgb(27,161,184);
}

#button3{
    color:black;
    background-color:rgb(237, 243, 241);
}

#button4{
    color:black; 
    background-color:rgb(237, 243, 241);
    border:2px solid rgb(27,161,184);
}

#button4:hover{
    color:white;
    background-color:rgb(27,161,184);
}