/* Styling used on the cloud services vendors page to divide sections */
#divide1{
    background-color:rgb(110, 193, 248);
}

#divide2{
    background-color:rgb(51, 171, 249);
}

#divide3{
    background-color:rgb(48, 129, 238);
}

#divide4{
    background-color:rgb(45, 100, 245);
}