.mainheading{
    font-size: 75px;
    text-align: center;
    color: white;
    font-family: georgia;
}

body{
    background-image: url(https://originaldante.files.wordpress.com/2014/06/20067-desktop-wallpapers-mountains-in-the-mist.jpg)
}

p{
    font-size: 30px;
    text-align: center;
    color: white;
    font-family: georgia;
}