/* This is the styling used across all files  */

.mainheading{
    font-size:70px;
    text-align:center;
    color:white;
    font-family:georgia;
}

body{
    background-image:url(http://images.all-free-download.com/images/graphicthumb/dark_blue_sky_199085.jpg);
    background-size:cover;
}

p{
    font-size:35px;
    text-align:center;
    color:white;
    font-family:georgia;
}

h4{
    text-align:center;
    color:white;
    font-family:georgia;
}

h6{
    text-align:center;
}

th{
    width:10%;
    padding-bottom:10px;
}