/* This is the styling to be used across all cv and interests files  */

.mainheading{
    font-size:70px;
    text-align:center;
    color:white;
    font-family:georgia;
}

.icon{
    display:block;
    width:250px;
    height:250px;
    margin-left:auto;
    margin-right:auto;
}

body{
    background-image:url(https://earthobservatory.nasa.gov/blogs/fromthefield/files/2012/09/we-love-the-color-of-the-Sargasso-Sea.jpg);
    background-size:cover;
}

img{
    display:block;
    margin-left:auto;
    margin-right:auto;
}

p{
    font-size:35px;
    text-align:center;
    color:white;
    font-family:georgia;
}

h6{
    text-align:center;
}

h3, h4, table{
    text-align:center;
    color:white;
    font-family:georgia;
}

th{
    width:10%;
    padding-bottom:10px;
}