/* Styling for all the icons in the top navagation bar */
.icon{
    width:50px; 
    height:50px;
}

/* Styling for the top navagation bar */
.icon-bar {
    background-color:rgb(142, 197, 191);
    width:100%;
    overflow:auto;
}

.icon-bar a {
    float:left;
    width:14.285%;
    text-align:center;
    padding-top:10px;
    padding-bottom:10px;
}

.icon-bar a:hover {
    background-color:rgb(237, 243, 241);
}