/* This is the styling used for the Page Piling on the ravel file */

#section1{
    background-color: rgb(0, 19, 77)
}

#section2{
    background-color: rgb(40, 60, 80)
}

#section3{
    background-color: rgb(0, 40, 80)
}

.section{
    font-size: 30px;
    text-align: center;
    color: white;
    font-family: georgia;
}