/* This is the styling used for the Page Piling on the travel file */

#section1{
    background-color: rgb(70, 124, 230)
}

#section2{
    background-color: rgb(96, 137, 255)
}

#section3{
    background-color: rgb(67, 120, 170)
}

.section{
    font-size: 35px;
    text-align: center;
    color: white;
    font-family: georgia;
}