/* This is the styling used for the Page Piling on the travel file */
img{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:900px;
    height:450px;
}

p{
    font-size:35px;
    text-align:center;
    color:white;
    font-family:georgia;
}

/* This is the styling used on the interest page for different sections */
#section1{
    background-color:rgb(38, 76, 173);
}

#section2{
    background-color:rgb(114, 142, 252);
}

#section3{
    background-color:rgb(25, 92, 225);
}