/* This is the styling used for all the interset file */

.button1{
    font-size:20px;
    width:76px;
    height:48px;
    border-radius:5px;
}

.button2{
    font-size:20px;
    width:76px;
    height:48px;
    border-radius:5px;
    color:white; 
    background-color:dodgerblue; 
    border-color:dodgerblue;
}

#divide1{
    background-color:rgb(110, 193, 248);
}

#divide2{
    background-color:rgb(51, 171, 249);
}

#divide3{
    background-color:rgb(48, 129, 238);
}

#divide4{
    background-color:rgb(45, 100, 245);
}