/* Styling for all the eBus files */

body{
    background-image:url(https://wallpapertag.com/wallpaper/full/e/0/2/113252-large-light-gray-background-2560x1600-htc.jpg); 
    background-size:cover;
}

h4{
    font-size:70px;
    text-align:center;
    color:rgb(51, 29, 16);
    font-family:georgia;
}

div{
    font-size:25px;
    text-align:center;
    color:rgb(51, 29, 16);
    font-family:georgia;
}